# Dependencies
node_modules
frontend/node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist
frontend/dist
*.local

# Env
.env
.env.local
.env.testnet
.env.production
frontend/.env.local
frontend/.env.testnet

# Stellar
.stellar
.contract_ids
target/

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
